{% extends 'base.html' %}

{% block content %}
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Image" class="profile-img">
    <!-- LinkedIn Icon -->
    <div class="social-links">
        <a href="https://www.linkedin.com/in/jalilhabed-itsoftware/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <div class="about-me">
        <h2>About Me</h2>
        <p>Hello! I'm Jalil, a tech enthusiast and problem-solver at heart, currently making waves as a Service Desk Engineer at TechMahindra and juggling the dynamic roles of a Field Engineer across multiple tech startups in Budapest. My journey in the tech world has taken me from the sun-kissed coasts of California, where I honed my skills in case management and virtual assistance, to the buzzing streets of Budapest, where I now reside.</p>
    
        <p>With a Bachelor's degree in Business Administration and an Associate of Science in Information Technology, my academic path laid the foundation for a career where technology and customer service intersect. My hands-on experience in technical support at TechMahindra, complemented by a freelance hustle that sees me undertaking site surveys and installing high-tech systems, has armed me with a toolkit to tackle complex technical challenges with finesse.</p>
    
        <p>Beyond my professional pursuits, I'm a linguist at heart, fluent in English and Spanish, and I bring this multicultural flair to my work, bridging communication gaps and connecting with clients across the globe. My role at Rezvani Law Firm sharpened my legal and administrative acumen, while my stint with Virtual Latinos imbued me with a profound understanding of the nuances of virtual collaboration.</p>
    
        <p>When I'm not geeking out on the latest tech trends or scripting automation magic in Python, you'll find me immersed in the vibrant world of sales and marketing, where I once thrived as a representative for Onit Center. My mantra is simple: blend passion with expertise, sprinkle in a dash of creativity, and solve the puzzle that is the modern tech landscape.</p>
    
        <p>I'm a firm believer that technology is as much about people as it is about bytes and bits. It's the human connection that drives innovation and leads to groundbreaking solutions. That's why I'm on a mission to not just navigate but redefine the intersections where people, processes, and technology meet.</p>
    
        <p>Let's connect and create something extraordinary together!</p>
    </div>
    
    <!-- Add more about yourself here -->
{% endblock %}
