{% extends 'base.html' %}

{% block content %}
    <h2>My Work</h2>

    <!-- Field Engineer Freelance -->
    <div class="work-experience">
        <h3>Field Engineer Freelance - Self Employed Clients: AxiomTech / BetaTech / BrainOTech / HandyHunts</h3>
        <p>Budapest, Hungary - June 2023 - Current</p>
        <ul>
            <li>Conducted site surveys, planned installation projects, and provided comprehensive technical support.</li>
            <li>Installed, tested, and commissioned technical equipment and systems ensuring high operational standards.</li>
            <li>Collaborated with teams for project completion and trained clients and end-users on new systems.</li>
            <li>Focused on building and maintaining strong customer relationships through effective communication and support.</li>
        </ul>
    </div>

    <!-- Service Desk Engineer -->
    <div class="work-experience">
        <h3>Service Desk Engineer - TechMahindra</h3>
        <p>Budapest, Hungary - January 2023 - Current</p>
        <ul>
            <li>Delivered remote user support, network troubleshooting, and customer support.</li>
            <li>Managed IT procurement and cloud computing initiatives, enhancing overall IT service delivery.</li>
            <li>Emphasized customer relationship management in all interactions and support activities.</li>
        </ul>
    </div>

    <!-- Case Manager -->
    <div class="work-experience">
        <h3>Case Manager - Rezvani Law Firm</h3>
        <p>Beverly Hills, California (Remote) - April 2022 - Current</p>
        <ul>
            <li>Oversaw case management, providing customer support and utilizing Microsoft Office tools for efficient service delivery.</li>
            <li>Maintained strong customer relationships through attentive and personalized service.</li>
        </ul>
    </div>

    <!-- Virtual Assistant -->
    <div class="work-experience">
        <h3>Virtual Assistant - Virtual Latinos</h3>
        <p>San Diego, California (Remote) - October 2021 - February 2022</p>
        <ul>
            <li>Provided administrative support, managed HR tasks, and contributed to sales and marketing efforts.</li>
            <li>Enhanced customer satisfaction through effective service delivery and customer service.</li>
        </ul>
    </div>

    <!-- Marketing and Sales Representative -->
    <div class="work-experience">
        <h3>Marketing and Sales Representative - Onit Center</h3>
        <p>Remote - August 2021 - November 2021</p>
        <ul>
            <li>Engaged in administrative support, HR management, and sales/marketing initiatives.</li>
            <li>Played a key role in improving customer satisfaction and service delivery efficiency.</li>
        </ul>
    </div>

{% endblock %}
